@{
    Layout = "~/Views/Shared/_themeLayout.cshtml";
}

<table id="tblGrid"></table>
<div id="pager">
</div>
@section scripts {    
    @(Html.Grid("tblGrid")
    .SetCaption("Events")
                    .AddColumn(new Column("Action").SetCustomFormatter("buttonize").SetWidth(75).SetSearch(false))
                    .AddColumn(new Column("title").SetLabel("Title").SetSortable(true).SetWidth(280))
                    .AddColumn(new Column("description").SetLabel("Description").SetWidth(320))
                    .AddColumn(new Column("startdate").SetLabel("Start Date").SetWidth(160).SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
                     .AddColumn(new Column("enddate").SetLabel("End Date").SetWidth(160).SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
                    .AddColumn(new Column("isrepeated").SetLabel("Status").SetWidth(110).SetSearchType(Searchtype.Select).SetSearchTerms(new string[] { "1:Repeated", "0:Not Repeated" }))
            .SetUrl(Url.Action("GridDataForEvents", "Event"))
            .SetAutoWidth(true)
            .SetRowNum(10)
            .SetRowList(new[] { 10, 15, 20, 50 })
            .SetViewRecords(true)
            .SetPager("pager")
            .SetHeight(325)
            .SetWidth(450)
            .SetSearchToolbar(true)
            .SetSearchOnEnter(false)
            .SetSearchClearButton(true)
            .SetSearchToggleButton(true)
            .SetMultiSelect(true)
            .SetMultiBoxOnly(false)
            //.SetMultiSelectWidth(40)
            .SetToolbar(true)
            .SetToolbarPosition(ToolbarPosition.Top)
            .SetHoverRows(true)
            .SetAltRows(true)
            .SetShrinkToFit(false)
            .SetSortName("startdate")
            .SetSortOrder(SortOrder.Desc)
    )

    <script type="text/javascript">

        $(document).ready(function () {
            try {
          
                var tool = "<ul class='nav nav-pills'>" +
                                "<li><a \" title='Add New' href='Create'>Add New</a></li>" +
                               "<li><a onclick=\"DeleteSelectedItem();\" title='Delete Selected Customer' href='#'>Delete Selected Events</a></li>"
                            "</ul>"
                $('#t_tblGrid').append(tool);

                //frozen or lock the columns
                $("#tblGrid").jqGrid('setColProp', 'Action', { frozen: true });
                jQuery("#tblGrid").jqGrid('setFrozenColumns');

                //load complete event hanlder - no record found-search
                LoadComplete('tblGrid');

                //hide and show column option - runtime
                GridColumnChooser('tblGrid');

                ReloadGrid('tblGrid');
                
            }
            catch (e) {
                ScriptError(e);
            }


        });
        
        function buttonize(cellvalue, options, rowobject) {
            return "<ul class='the-icons'>" +
                        "<li title='Delete' onclick=\"DeleteItem(" + cellvalue + ");\"><i class='icon-remove'></i></li>" +
                        "<li title='Edit' onclick=\"EditItem(" + cellvalue + ");\"><i class='icon-edit'></i></li>" +
                    "</ul>"
        }       
    </script>
}
